<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/Webpage_BS/index.css">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<header>
			<nav class="navbar">
				<a href="#"><img src="#" alt="logo" style="width: 80px; border-radius: 100%"></a>
				<div class="search-bar">
					<form>
						<input type="text" name="search" placeholder="Search" size="40";>
						<button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
				<div class="nav_bar">
					<button><a href="#">Offers</a></button>
					<a href="#">Find a Store</a>
					<a href="#">Login</a>
				</div>
			</nav>
		</header>
		<section>
			<div class="container">
				<h3 style="text-align: center;">Heading</h3>
				<div class="row" style="text-align: center;">
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<h3 style="text-align: center;">Heading</h3>
				<div class="row  style_featured">
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<h3 style="text-align: center;">Heading</h3>
				<div class="row  style_featured">
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<h3 style="text-align: center;">Heading</h3>
				<div class="row  style_featured">
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg#" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
					<div class="col-sm-3">
						<a href="#">
							<img src="D:\project\L\product.jpg" alt="Product Image">
							<p>Product name</p>
							<p>Product price</p>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
					<h3 style="text-align: center;">Heading</h3>
				<div class="row">
					<div class="col-sm-2">
							<img src="D:\project\L\company.png" alt="company" style="width: 40%;">
					</div>
					<div class="col-sm-2">
							<img src="D:\project\L\company.png" alt="company" style="width: 40%;">
					</div>
					<div class="col-sm-2">
							<img src="D:\project\L\company.png" alt="company" style="width: 40%;">
					</div>
					<div class="col-sm-2">
							<img src="D:\project\L\company.png" alt="company" style="width: 40%;">
					</div>
					<div class="col-sm-2">
							<img src="D:\project\L\company.png" alt="company" style="width: 40%;"> 
					</div>
					<div class="col-sm-2">
							<img src="D:\project\L\company.png" alt="company" style="width: 40%;">
					</div>					
				</div>
			</div>
		</section>
		<footer>
			<p>FOOTER</p>
			<p>Designed by Bhavesh Bhargava</p>
		</footer>		
	</body>
</html>
