<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="form">
			<div>
				<h3>Login with</h1>
				<div class="social-btn"> 		
					<a href="#" class="btn btn-social btn-github" id="github-btn">
						<span class="fa fa-github"></span>
					</a>
					<a href="#" class="btn btn-social btn-facebook" id="facebook-btn">
						<span class="fa fa-facebook"></span>
					</a>
					<a href="#" class="btn btn-social btn-google" id="google-btn">
						<span class="fa fa-google"></span>
					</a>
				</div>
			</div>
			<div style="text-align: center; margin-top: 40px;">
				OR
			</div>
			<div style="margin-top: 20px; text-align:center;">
				<form>
					<input type="text" name="username" placeholder="Username"><br>
					<input type="text" name="password" placeholder="Password"><br>
					<button type="submit">Login</button>
				</form>
			</div>
			<div class="create_account">
				<a href="#">Create an account</a>
			</div>
		</div>
	</body>
</html>	
