<!DOCTYPE html>
<html>
	<head>
		<title>Sign-Up Page</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		 <div class="form">
		 	<div>
		 		<h3>Sign Up</h3><br>
		 		<p>Please enter details to create an new account</p>
		 	</div>
		 	<div>
		 		<form>
		 			<input type="text" name="firstName" placeholder="First Name" required="">
		 			<input type="text" name="lastName" placeholder="Last Name" required=""><br>
		 			<input type="email" name="email" placeholder="Email" style="width: 93%;" required=""><br>
		 			<input type="password" placeholder="Password" style="width: 93%;" required=""><br>
		 			<input type="password" placeholder="Confirm password" style="width: 93%;" required=""><br>
		 			<input type="radio" name="agreement" value="1">I accept the<a href="#"> Terms</a> &<a href="#" required=""> Privacy Policy</a><br>
		 			<button type="submit">Sign Up</button>
		 		</form>
		 		<div style="margin-top: 20px; text-align: center;">
		 			<p>Already have an account <a href="#">Login here</a></p>
		 		</div>
		 	</div>
		 </div>
	</body>
</html>
